* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif; }

.wrap-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: #833ab4;
  background: linear-gradient(120deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%); }

.city-container {
  margin: 50px;
  width: 400px;
  height: 500px;
  border-radius: 15px;
  background: #fff; }
  .city-container .city-name,
  .city-container .temperature {
    font-size: 20px; }
  .city-container .del-btn {
    background-color: #fd1d1d;
    width: 150px;
    height: 75px;
    border: 0px;
    border-radius: 15px;
    color: #fff;
    font-size: 50px; }

.city-input {
  left: calc(50% - 250px);
  top: 20px;
  position: relative;
  width: 500px;
  height: 100px; }
  .city-input input {
    text-align: center;
    border-radius: 15px;
    border: 0px;
    display: block;
    width: 400px;
    height: 40px;
    margin: 0 auto; }
  .city-input .check-weather-btn {
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    background: #fff;
    width: 200px;
    height: 50px;
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.2); }
    .city-input .check-weather-btn p {
      font-size: 18px;
      transition: 0.3s;
      text-align: center;
      line-height: 50px; }
    .city-input .check-weather-btn:hover {
      transition: 0.3s;
      box-shadow: none; }
    .city-input .check-weather-btn:active {
      transform: translateX(2.5px);
      transform: translateY(2.5px);
      transition: 0.3s;
      width: 195px;
      height: 45px;
      box-shadow: inset 0 0 4px black; }
      .city-input .check-weather-btn:active p {
        font-size: 17px;
        transition: 0.3s;
        line-height: 45px; }

.city-to-choose {
  cursor: pointer;
  transition: 0.3s;
  display: block;
  margin: 50px auto;
  width: 400px;
  height: 100px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 4px 5px rgba(0, 0, 0, 0.2); }
  .city-to-choose .city-name,
  .city-to-choose .city-region,
  .city-to-choose .city-country {
    line-height: 30px;
    display: block;
    text-align: center;
    font-size: 20px;
    transition: 0.3s; }
  .city-to-choose .city-name {
    font-size: 22px; }
  .city-to-choose:hover {
    transition: 0.3s;
    box-shadow: none; }
  .city-to-choose:active {
    transition: 0.3s;
    width: 390px;
    height: 95px;
    box-shadow: inset 0 0 4px black; }
    .city-to-choose:active .city-country,
    .city-to-choose:active .city-region {
      line-height: 30px;
      font-size: 18px;
      transition: 0.3s; }
    .city-to-choose:active .city-name {
      font-size: 20px; }

.city-choose {
  z-index: 1;
  position: absolute;
  visibility: hidden;
  background: rgba(51, 51, 51, 0.5);
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transition: all 0.6s; }

.city-choose__fade {
  visibility: visible;
  opacity: 1;
  transition: all 0.6s; }

.error-handler {
  visibility: hidden;
  opacity: 0;
  transition: 0.6s;
  top: calc(45% - 75px);
  left: calc(50% - 200px);
  position: absolute;
  width: 400px;
  height: 150px;
  background-color: orange;
  border-radius: 15px; }
  .error-handler p {
    font-size: 24px;
    text-align: center;
    padding: 10px; }
  .error-handler .error-handler-alert {
    font-size: 28px;
    padding-top: 25px; }

.error-handler__display {
  visibility: visible;
  opacity: 1;
  transition: 0.6s; }
