$font-size: 20px;
$grey-color: #808080;

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.wrap-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    120deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.city-container {
  margin: 50px;
  width: 400px;
  height: 500px;
  border-radius: 15px;
  background: #fff;
  .city-name,
  .temperature {
    font-size: $font-size;
  }
  .del-btn {
    background-color: rgba(253, 29, 29, 1);
    width: 150px;
    height: 75px;
    border: 0px;
    border-radius: 15px;
    color: #fff;
    font-size: 50px;
  }
}

.city-input {
  input {
    text-align: center;
    border-radius: 15px;
    border: 0px;
    display: block;
    width: 400px;
    height: 40px;
    margin: 0 auto;
  }
  .check-weather-btn {
    transition: 0.3s;
    position: relative;
    background: #fff;
    width: 200px;
    height: 50px;
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.2);
    p {
      font-size: 18px;
      transition: 0.3s;
      text-align: center;
      line-height: 50px;
    }

    &:hover {
      transform: translateX(2.5px);
      transform: translateY(2.5px);
      transition: 0.3s;
      width: 195px;
      height: 45px;
      box-shadow: none;
      p {
        font-size: 17px;
        transition: 0.3s;
        line-height: 45px;
      }
    }
  }
  left: calc(50% - 250px);
  top: 20px;
  position: relative;
  width: 500px;
  height: 100px;
}
.city-to-choose {
  margin: 50px;
  width: 200px;
  height: 100px;
  border-radius: 15px;
  background: #fff;
  .city-name,
  .city-region {
    font-size: $font-size;
  }
}
.city-choose {
  position: absolute;
  visibility: hidden;
  background: rgba(51, 51, 51, 0.5);
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transition: all 0.6s;
}

.city-choose__fade {
  visibility: visible;
  opacity: 1;
  transition: all 0.6s;
}

.error-handler {
  visibility: hidden;
  opacity: 0;
  transition: 0.6s;
  top: calc(50% - 50px);
  left: calc(50% - 100px);
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: orange;
}

.error-handler__display {
  visibility: visible;
  opacity: 1;
  transition: 0.6s;
}
